# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/build/

# Env files
.env
.env.*

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db
